$color-primary: #333;
$color-white: #fff;
$color-background: #f1f1f1;
$color-text: #483c3c;
$color-button: #71b7e6;
$color-button-hover: #9b59b6;
$body-background: linear-gradient(135deg, #71b7e6, #9b59b6);
$form-background: #fff;
$border-color: #807878;
