<section class="main">
  <div class="container">
    <div class="container__top">
      <h1 class="container__top-title">İstifadəçilər haqqında məlumat</h1>

      <button class="container__top-btn" routerLink="addForm">
        İstifadəçi əlavə et
      </button>
    </div>
    <div class="container__bottom">
      <app-table [data]="Page"></app-table>

      <app-paginations
        [page]="page"
        [totalPage]="totalPage"
        (isPrev)="isPrev()"
        (isNext)="isNext()"
      ></app-paginations>
    </div>
  </div>
</section>
