@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/typography';

.main {
  width: 100%;
  height: 85%;
  @include flex-center;

  .container {
    width: 75%;
    height: 80%;
    background: white;
    @include flex-column;
    border-radius: 10px;
    row-gap: 10px;
    justify-content: flex-start;
    padding: 30px 5px;

    &__top {
      width: 95%;
      @include flex-between-center;

      &-title {
      }

      &-btn {
        padding: 7px 24px;
        background: $color-button;
        border: none;
        border-radius: 5px;
        color: $color-white;
        cursor: pointer;
        &:hover {
          background: $color-button-hover;
        }
      }
    }

    &__bottom {
      width: 100%;
      height: 90%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .pagination {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 10px;
        .page {
          padding: 8px 13px;
          border-radius: 10px;
          border: 1px solid black;
          background: $color-button;
          color: $color-white;
          margin: 0 5px;
          cursor: pointer;
          @include transition;
          border: none;
          &:hover {
            background: $color-button-hover;
          }
        }
      }

      .table {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        &__title {
          .title {
            background-color: #353048;
            color: $color-white;
          }
          &__cont {
            height: 40px;
            &:nth-child(2n) {
              background: #f6f6f6;
            }

            &-text {
              border: 1px solid black;
              text-align: center;
              vertical-align: middle;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
