* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import './styles/colors';
@import './styles/mixins';
@import './styles/reset';
@import './styles/typography';
@import './styles/variables';
@import './styles/root';

body {
    width: 100%;
    height: 100vh;
    background: $body-background;
}