<table border="22" class="table">
  <thead class="table__title">
    <tr class="table__title__cont title">
      <th class="table__title__cont-text">Ad</th>
      <th class="table__title__cont-text">Soyad</th>
      <th class="table__title__cont-text">Yaş</th>
      <th class="table__title__cont-text">Cins</th>
      <th class="table__title__cont-text">Qeyd</th>
    </tr>
  </thead>
  <tbody class="table__title">
    <tr class="table__title__cont" *ngFor="let item of data">
      <td class="table__title__cont-text">{{ item.name }}</td>
      <td class="table__title__cont-text">{{ item.surname }}</td>
      <td class="table__title__cont-text">{{ item.age }}</td>
      <td class="table__title__cont-text">{{ item.cins }}</td>
      <td class="table__title__cont-text">{{ item.note }}</td>
    </tr>
  </tbody>
</table>
